body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.9.9; /* Ndryshoni vlerën sipas preferencave tuaja */
}


#card2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {
  #card2 {
    width: 100%;
    max-width: 276px;
  }
}
.image2{
  background-image: url(images/noelretaurant.jpg);
}
 
#images {
    border-radius: 15px;
  }

  #navbar{
    background-color: rgb(0, 0, 0); 
  }

  #footer {
    background-color: rgb(0, 0, 0);
    border-top: 5px;
    font-family: cursive;
  }

  #buttons4{
    background-color: rgba(0, 0, 0, 0.938);
    padding:5px 18px ;
  }

  #buttons7 {
    background-color: rgba(255, 255, 255, 0.932);
    padding: 10px 35px;
    
  }

  #buttons8{
    background-color: rgba(0, 0, 0, 0.932);
    padding: 10px 35px;
  }

  #glutenfree9{
    background-image: url('images/backround_image.jpg');
  }

  #noel{
    background-color: transparent;
    border: transparent;
    font-family: cursive;
  }

  #images {
    min-height: 290px;
    width: 275px;
}





#card2{
  border-radius: 15px;
  background-color: rgba(153, 153, 153, 0.192);
  font-family:cursive;
  border-color: rgba(180, 180, 180, 0);
}

#glutenfree5 {
  font-family: cursive;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  width: 100%;
}

#buttonback{
  background-color: rgba(240, 248, 255, 0);
  border-color: rgba(240, 248, 255, 0);
}

#btnhouse1 i {
  font-size: 25px; /* Increase the font size to 40 pixels */
  color: rgb(255, 172, 47);
}

#icon1{
  color: black;
}

#contact2{
  font-weight: bold;
  font-size: 23px;
  font-family:cursive ;
  font-style: italic;
}

#card3 img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

#card3 img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}

#hr7{
  font-family: cursive;
  font-style: italic;
} 













